/* Academic.css */
.aca {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  width: 150px; /* Adjust image width as needed */
  margin: 0 10px; /* Add margin between images */
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
  .aca {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .image-container img {
    width: 120px; /* Adjust image width for smaller screens */
  }
}

/* Media query for screens up to 490px */
@media (max-width: 500px) {
  .aca {
    font-size: 18px; /* Adjust font size for even smaller screens */
  }

  .image-container {
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    justify-content: center; /* Center images horizontally */
    margin-top: 10px; /* Adjust margin-top as needed */
    margin-bottom: 350px;
  }

  .image-container img {
    width: 90px; /* Adjust image width for smaller screens */
    margin: 5px; /* Add margin around images */
  }
}
