.app-containe {
  display: flex;
  height: calc(100vh - 20px);
}
.in1 {
  width: 100%;
  height: 100%;
}
.ink img {
  width: 100%;
  height: 100%;
}
.ink .sernav{
  z-index: 1000;
  height: 10vh;
  display: flex;
  background-color:#8c9807;
  align-items: center;
  justify-content: space-around;
  
  
}
.ink .sernav ul{
  
  
}
.ink .sernav ul li{
  
}
.ink .sernav ul li a{
  text-decoration: none;
  margin-top: 100px;
  padding: 10px; 
  border-radius: 5px; 
  color:#fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  display: inline;
  cursor: pointer;
}
.ink .sernav ul li a:hover{
  color:darkblue;
  border: #fff;
}
.text-block {
  width: 50%;
  align-items: center;
  height: 100%;
}

.image-slider2 {
  width: 50%;
  height: auto;
  height: calc(100vh - 20px);
}
.image-slider2 img {
  width: 100%;

  padding-top: -200%;

  padding-bottom: -200%;
  height: calc(100vh - 20px);
}
.jerk{
  width: 100%;
  height: 100%;
}
.jerk .j{
  width: 100%;
  height: 100%;
}
.jerk .j img{
  width: 100%;
  height: 100%;
}
.b1 {
  background-color: #046010;
  color: #ffff;
  font-size: large;
  height: calc(100vh - 20px);
  padding: 50px;
  padding-top: 140px;
}
.b2 {
  background-color: #534303;
  height: calc(100vh - 20px);
  font-size: large;
  color: #fff;
  padding: 50px;
  padding-top: 140px;
}
.b3 {
  background-color: #8c9807;
  height: calc(100vh - 20px);
  font-size: large;
  color: #fff;
  padding: 50px;
  padding-top: 140px;
}
.b4 {
  background-color: #530333;
  height: calc(100vh - 20px);
  font-size: large;
  color: #fff;
  padding: 50px;
  padding-top: 140px;
}
.b5 {
  background-color: #4f0353;
  height: calc(100vh - 20px);
  color: #fff;
  font-size: large;
  padding: 50px;
  padding-top: 140px;
}
.b1 h1 {
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 50px;
  padding-bottom: 30px;
  font-family: "Josefin Sans", sans-serif;
}
.b2 h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  padding-bottom: 30px;
}
.b3 h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  padding-bottom: 30px;
}
.b4 h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  padding-bottom: 30px;
}
.b5 h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  padding-bottom: 30px;
}
.b1 h2 {
  font-family: "Space Grotesk", sans-serif;
}
.b2 h2 {
  font-family: "Space Grotesk", sans-serif;
}
.b3 h2 {
  font-family: "Space Grotesk", sans-serif;
}
.b4 h2 {
  font-family: "Space Grotesk", sans-serif;
}
.b5 h2 {
  font-family: "Space Grotesk", sans-serif;
}
.foot {
  padding-top: 100px;
  width: 100%;
  height: 30vh;
  background: #130134;
}
.foot img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transform: translate(60px, -30px);
}
.foot p {
  color: #ffff;
  font-size: 30px;
  transform: translate(0%, -180%);
  align-items: center;
  display: flex;
  padding-left: 130px;
}
.prod{
  width: 100%;
  height: 100%;
}
.prod .j2{
  width: 100%;
  height: 100%;
}
.prod .j2 img{
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .b1 {
    font-size: 20px;
  }
  .b1 {
    background-color: #046010;
    color: #ffff;
    font-size: 10px;
    width: 50%;
    /* height: calc(100vh - 20px); */
    padding: 40px;
    padding-top: 70px;
  }
  .b2 {
    background-color: #534303;
    /* height: calc(100vh - 20px); */
    font-size: 10px;
    color: #fff;
    width: 50%;
    padding: 40px;
    padding-top: 70px;
  }
  .b3 {
    background-color: #8c9807;
    /* height: calc(100vh - 20px); */

    width: 50%;
    font-size: 10px;
    color: #fff;
    padding: 40px;
    padding-top: 70px;
  }
  .b4 {
    background-color: #530333;
    /* height: calc(100vh - 20px); */
    font-size: 10px;
    color: #fff;

    width: 50%;
    padding: 40px;
    padding-top: 70px;
  }
  .b5 {
    background-color: #4f0353;
    /* height: calc(100vh - 20px); */
    color: #fff;
    font-size: 10px;
    padding: 40px;

    width: 50%;
    padding-top: 70px;
  }
  .b1 h1 {
    /* font-family: "Times New Roman", Times, serif; */
    font-size: 30px;
    padding-bottom: 10px;
    font-family: "Josefin Sans", sans-serif;
  }

  .b2 h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .b3 h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .b4 h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .b5 h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .b1 h2 {
    font-family: "Space Grotesk", sans-serif;
  }
  .b2 h2 {
    font-family: "Space Grotesk", sans-serif;
  }
  .b3 h2 {
    font-family: "Space Grotesk", sans-serif;
  }
  .b4 h2 {
    font-family: "Space Grotesk", sans-serif;
  }
  .b5 h2 {
    font-family: "Space Grotesk", sans-serif;
  }
  .foot {
    width: 100%;
    height: 30vh;
    background: #130134;
  }
  .foot img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    /* transform: translate(60px, 65px); */
    transform: translate(160%, -120%);
  }
  .foot p {
    color: #ffff;
    font-size: 20px;
    align-items: center;
    display: flex;
    padding-left: 130px;
    transform: translate(0%, -300%);
  }
  .text-block {
    width: 100%;
    align-items: center;
    height: 50%;
  }
  .app-containe {
    flex-direction: column;
  }

  .image-slider2 {
    width: 100%;    /* height: calc(100vh - 20px); */
  }
  .image-slider2 img {
    width: 100%;
    height: 50%;
  }
  .ink .sernav ul li a{
    text-decoration: none;
    margin-top: 100px;
    padding: 10px; 
    border-radius: 5px; 
    color:#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8px;
    display: inline;
    cursor: pointer;
  }
}
@media screen and (max-width: 500px) {
  .b1 {
    font-size: 20px;
  }
  .b1 {
    background-color: #046010;
    color: #ffff;
    font-size: 10px;
    width: 50%;
    /* height: calc(100vh - 20px); */
    padding: 40px;
    padding-top: 70px;
  }
  .b2 {
    background-color: #534303;
    /* height: calc(100vh - 20px); */
    font-size: 10px;
    color: #fff;
    width: 50%;
    padding: 40px;
    padding-top: 70px;
  }
  .b3 {
    background-color: #8c9807;
    /* height: calc(100vh - 20px); */

    width: 50%;
    font-size: 10px;
    color: #fff;
    padding: 40px;
    padding-top: 70px;
  }
  .b4 {
    background-color: #530333;
    /* height: calc(100vh - 20px); */
    font-size: 10px;
    color: #fff;

    width: 50%;
    padding: 40px;
    padding-top: 70px;
  }
  .b5 {
    background-color: #4f0353;
    /* height: calc(100vh - 20px); */
    color: #fff;
    font-size: 10px;
    padding: 40px;

    width: 50%;
    padding-top: 70px;
  }
  .b1 h1 {
    /* font-family: "Times New Roman", Times, serif; */
    font-size: 30px;
    padding-bottom: 10px;
    font-family: "Josefin Sans", sans-serif;
  }

  .b2 h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .b3 h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .b4 h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .b5 h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .b1 h2 {
    font-family: "Space Grotesk", sans-serif;
  }
  .b2 h2 {
    font-family: "Space Grotesk", sans-serif;
  }
  .b3 h2 {
    font-family: "Space Grotesk", sans-serif;
  }
  .b4 h2 {
    font-family: "Space Grotesk", sans-serif;
  }
  .b5 h2 {
    font-family: "Space Grotesk", sans-serif;
  }
  .foot {
    width: 100%;
    height: 30vh;
    background: #130134;
  }
  .foot img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
   
    transform: translate(160%, -120%);
  }
  .foot p {
    color: #ffff;
    font-size: 15px;
    align-items: center;
    display: flex;
    padding-left: 130px;
    transform: translate(0%, -210%);
  }
  .text-block {
    width: 100%;
    align-items: center;
    height: 50%;
  }
  .app-containe {
    flex-direction: column;
  }
  .image-slider2 img {
    width: 100%;
    height: 50%;
  }
}
